html,
body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.header,
.footer,
.hero {
  background-color: #1f2937;
}

.header,
.hero,
.personal-info,
.cta-area,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}
.cta-area,
.personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-box {
  background-color: #3881f6;
}

.footer-text {
}
