* {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  gap: 0px;
  border: 0px;
}

.header,
.footer,
.hero {
  background-color: #1f2937;
}

.header,
.hero,
.personal-info,
.cta-area,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}
.cta-area,
.personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-box {
  background-color: #3881f6;
}

.title {
  color: #f9faf8;
  font-size: 24px;
  padding: 0.5rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 100;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 0.5rem;
}

svg {
  max-width: 30px;
  max-height: 30px;
}
